<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Spring</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생 관리</h2>
    <hr />
    <form
      method="POST"
      th:action="@{/student/edit_ok/{studNo}(studNo=${student.studNo})}"
    >
      <table class="mytable">
        <colgroup>
          <col width="150" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th>학생 이름</th>
            <td class="text-left field">
              <input type="text" name="name" th:value="${student.name}" />
            </td>
          </tr>
          <tr>
            <th>학생 아이디</th>
            <td class="text-left field">
              <input type="text" name="userId" th:value="${student.userId}" />
            </td>
          </tr>
          <tr>
            <th>학생 학년</th>
            <td class="text-left field">
              <input type="number" name="grade" th:value="${student.grade}" />
            </td>
          </tr>
          <tr>
            <th>학생 주민번호</th>
            <td class="text-left field">
              <input type="date" name="idNum" th:value="${student.idNum}" />
            </td>
          </tr>
          <tr>
            <th>학생 생년월일</th>
            <td class="text-left field">
              <input
                type="text"
                name="birthDate"
                th:value="${student.birthDate}"
              />
            </td>
          </tr>
          <tr>
            <th>학생 전화번호</th>
            <td class="text-left field">
              <input type="text" name="tel" th:value="${student.tel}" />
            </td>
          </tr>
          <tr>
            <th>학생 키</th>
            <td class="text-left field">
              <input type="number" name="height" th:value="${student.height}" />
            </td>
          </tr>
          <tr>
            <th>학생 몸무게</th>
            <td class="text-left field">
              <input type="number" name="weight" th:value="${student.weight}" />
            </td>
          </tr>
          <tr>
            <th>학생 학과번호</th>
            <td class="text-left field">
              <input type="number" name="deptNo" th:value="${student.deptNo}" />
            </td>
          </tr>
          <tr>
            <th>담당교수 번호</th>
            <td class="text-left field">
              <input type="number" name="profNo" th:value="${student.profNo}" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container">
        <button type="submit" class="mybutton green">등록</button>
        <a class="mybutton red" th:href="@{/student}">취소</a>
      </div>
    </form>
  </body>
</html>
