/* 공통 */
body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 20px 0;
    width: 640px;
    margin: auto;

    /*header*/
    header {
        h1 {
            color: #0066ff;
            font-size: 28px;
        }
    }

    /* footer */
    footer {
        address {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #555;
        }
    }

    section {
        margin-bottom: 20px;

        /* 목록 --> index.html*/
        .table {
            /* 부모 640px에 대해 100% 맞추고 동등한 위치 갖는다.*/
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
            font-size: 14px;

            th, td {
                border-bottom: 1px solid #444444;
                border-left: 1px solid #444444;
                padding: 10px;
                text-align: center;

                &:first-child { /* table 맨 왼쪽 줄 없앰*/
                    border-left: none;
                }
            }

            td {
                a {
                    margin: 0 5px;
                }
            }
        }

        /* 추가 (add.html), 수정(edit.html) */
        .form-group {
            margin: 10px 0;
            padding: 0 20px;
            display: flex;

            .text-danger {
                color: #f00;
            }

            .text-center {
                text-align: center;
            }

            label {
                width: 100px;
                font-size: 14px;
                height: 30px;
                line-height: 30px;
            }

            div {
                height: 30px;
                line-height: 30px;
            }
        }

        /* 상세보기 (view.html) */
        dt {
            font-weight: bold;
            margin: 10px 0px;
            font-size: 16px;

            &::before {
                content: '⨀';
                padding-right: 5px;
            }
        }

        dd {
            font-weight: normal;
            margin-bottom: 30px;
            border-left: 5px #d5d5d5 solid;
            padding-left: 15px;
            font-size: 14px;
        }
    }
}